h1 {
    color: rgba(90, 113, 216, 0.849);
    font-size: 12em;
    text-align: center;
    background-color: rgba(184, 128, 56, 0.76);
}

button {
    padding: 15px;
    font-size: 2em;
    margin: 0 0.7em;
    border-radius: 15px;
}

.buttons {
    margin: auto;
    text-align: center;
}

.main {
    margin: auto;
    width: 70%;
    height: 70%;
    background-color: darkblue;
    padding-bottom: 10%;
}